.container {
  text-align: center;
}

.btn {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
}

.active {
  background-color: rgba(255,255,255,0.7);
  color: black;
}
