#top {
  padding: 2rem;
  text-align: center;
}

.mycontainer {
  display: grid;
  width: 80%;
  margin-left: 10%;
  grid-template-areas: "card card card";
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  grid-area: "card";
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 250px;
}

.cardimg > img {
  width: 200px;
  height: 250px;
}

.back {
  width: 100%;
  text-align: center;
}

.cardheader {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  margin-bottom: 1rem;
}

.cardbody {
  padding-bottom: 1rem;
}

.progressbar {
  margin: 0px 10px 0px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.progressbar > span {
  display: block;
  height: 7px;
  text-indent: -9999px;
  background-color: #5a7c85;
}

.back {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 950px) {
  .mycontainer {
    grid-template-areas: "card card";
  }
}

@media only screen and (max-width: 650px) {
  .mycontainer {
    grid-template-areas: "card";
  }
}

@media only screen and (max-height: 500px) {
  .cardimg {
    display: none;
  }
}
